.menu {
    margin: auto;
    width: 85%;
    border: 5px;
    padding: 10px;
    position: relative;
    display: flex;
}

.text {
    flex: 1;
    font-size: 25px;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    color: white;
    font-family: 微軟正黑體, sans-serif;
    font-weight: bolder;
    position: relative;
    text-decoration: none;
}

hr {
    width: 85%;
}

body {
    background-color: rgb(32, 32, 53);
    margin-left: -20px;
    margin-right: -20px;
}

#welcome {
    font-size: 50px;
    width: 85%;
    margin: auto;
    border: 100px;
    top: 30px;
    padding: 80px;
    color: white;
    font-weight: bold;
    font-family: 微軟正黑體, sans-serif;
    position: relative;
    background-color: rgb(17, 17, 32);
}

.function {
    margin: auto;
    width: 30%;
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    position: relative;
    display: flex;
}


.text2 {
    flex: 1;
    font-size: 20px;
    line-height: 1rem;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    position: relative;
    text-decoration: none
}

.sleepData {
    margin: auto;
    width: 85%;
    top: 30px;
    padding: 20px;
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    position: relative;
    display: flex;
}

.text3 {
    font-size: 20px;
    border: 20px;
    padding: 20px;
    line-height: 1rem;
    text-align: left;
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    position: relative;
    text-decoration: none;
}

.text4 {
    border: 20px;
    padding: 20px;
    line-height: 1rem;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    position: relative;
}